<div class="col-md-12" ng-controller="RegisterCtrl">
    <form name="registerForm" class="form-horizontal">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label class="label label-default" for="UserName">User Name </label>
                <input class="form-control" id="UserName" name="UserName" type="text" ng-model="brewer.UserName"
                       unique-user-name required>
            </div>
            <div ng-show="registerForm.UserName.$error.required && registerForm.UserName.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please enter a user name</p>
            </div>
            <div ng-show="registerForm.UserName.$error.uniqueUserName && registerForm.UserName.$dirty">
                <p><i class="icon icon-warning-sign"></i>That user name is already taken</p>
            </div>
            <div class="form-group">
                <label class="label label-default" for="FirstName">First Name </label>
                <input class="form-control" id="FirstName" name="FirstName" type="text" ng-model="brewer.FirstName"
                       required>
            </div>
            <div ng-show="registerForm.FirstName.$error.required && registerForm.FirstName.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please provide a first name</p>
            </div>
            <div class="form-group">
                <label class="label label-default" for="LastName">Last Name </label>
                <input class="form-control" id="LastName" name="LastName" type="text" ng-model="brewer.LastName"
                       required>
            </div>
            <div ng-show="registerForm.LastName.$error.required && registerForm.LastName.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please provide a last name</p>
            </div>
            <div class="form-group">
                <label class="label label-default" for="Email">Email </label>
                <input class="form-control" id="Email" name="Email" type="email" ng-model="brewer.Email" unique-email
                       required>
            </div>
            <div ng-show="registerForm.Email.$error.required && registerForm.Email.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please provide a valid email address</p>
            </div>
            <div ng-show="registerForm.Email.$error.uniqueEmail && registerForm.Email.$dirty">
                <p><i class="icon icon-warning-sign"></i>That email address is already registered</p>
            </div>
            <div class="form-group">
                <label class="label label-default" for="Location">Location </label>
                <input class="form-control" id="Location" name="Location" type="text" ng-model="brewer.Location">
            </div>
            <div class="form-group">
                <label class="label label-default" for="Bio">Bio </label>
                <textarea id="Bio" name="Bio" ng-model="brewer.Bio" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="label label-default" for="WebSite">Web Site </label>
                <input class="form-control" id="WebSite" name="WebSite" type="text" ng-model="brewer.WebSite">
            </div>
            <div class="form-group">
                <label class="label label-default" for="Password">Password </label>
                <input class="form-control" id="Password" name="Password" type="password" ng-model="password" required>
            </div>
            <div ng-show="registerForm.Password.$error.required && registerForm.Password.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please provide a password</p>
            </div>
            <div class="form-group">
                <label class="label label-default" for="ConfirmPassword">Confirm Password </label>
                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password"
                       ng-model="confirmpassword" must-equal="password" required>
            </div>
            <div ng-show="registerForm.ConfirmPassword.$error.required && registerForm.ConfirmPassword.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please confirm your password</p>
            </div>
            <div ng-show="registerForm.ConfirmPassword.$error.mustEqual && registerForm.ConfirmPassword.$dirty">
                <p><i class="icon icon-warning-sign"></i>Please ensure your passwords match</p>
            </div>
            <div class="form-group">
                <button name="registerBtn" title="Save" ng-click="register()"
                        ng-disabled="registerForm.$invalid"
                        class="btn btn-large btn-primary">Save
                </button>
                <a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
